<section class="portfolio py-5">
    <div class="container">
        <div class="text-center section-header">
            <h2 class="text-uppercase fs-1 fw-bolder">portfolio component</h2>
            <div class="decorate-line d-flex justify-content-center align-items-center gap-3 mb-3">
                <span class="line"></span>
                <span class="star fa fa-star"></span>
                <span class="line"></span>
            </div>
        </div>
    </div>
    <div class="container">
        .<div class="row g-2 px-5 text-white">
            <div class="col-lg-4 col-md-6">
                <div class="style-card position-relative">
                    <img src="assets/images/poert1.png" alt="portImg" class="border rounded-3">
                    <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 border rounded-3 d-flex justify-content-center align-items-center">
                        <span class="fa fa-plus fa-6x"></span>
                    </div>
                </div>                
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="style-card position-relative">
                    <img src="assets/images/port2.png" alt="portImg" class="border rounded-3">
                    <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 border rounded-3 d-flex justify-content-center align-items-center">
                        <span class="fa fa-plus fa-6x"></span>
                    </div>
                </div>                
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="style-card position-relative">
                    <img src="assets/images/port3.png" alt="portImg" class="border rounded-3">
                    <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 border rounded-3 d-flex justify-content-center align-items-center">
                        <span class="fa fa-plus fa-6x"></span>
                    </div>
                </div>                    
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="style-card position-relative">
                    <img src="assets/images/poert1.png" alt="portImg" class="border rounded-3">
                    <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 border rounded-3 d-flex justify-content-center align-items-center">
                        <span class="fa fa-plus fa-6x"></span>
                    </div>
                </div>                
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="style-card position-relative">
                    <img src="assets/images/port2.png" alt="portImg" class="border rounded-3">
                    <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 border rounded-3 d-flex justify-content-center align-items-center">
                        <span class="fa fa-plus fa-6x"></span>
                    </div>
                </div>                
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="style-card position-relative">
                    <img src="assets/images/port3.png" alt="portImg" class="border rounded-3">
                    <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 border rounded-3 d-flex justify-content-center align-items-center">
                        <span class="fa fa-plus fa-6x"></span>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</section>